body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-grid-container {
    display: grid;
    grid-template-columns: calc(0.1953125 * 100vw) calc(0.609375 * 100vw) calc(0.1953125 * 100vw);
}

.main-grid-item {
    background-color: lightgray;
    opacity: 0.5;
    grid-column: 2 / 3;
    height: 100vh;
}

.top-nav {
    opacity: 0.5;
    background-color: lightgray;
    border-bottom: 1px solid white;
    height: 2.5rem;
    grid-column: 1 / 4;
}
