/* 2.25px */

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    margin: 0px;
}

/* FLEX CONTAINER */

.custom-flex-y {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* FLEX CONTAINER */

/* TOP NAVIGATION BAR */

.top-nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #707070;
    height: 40px;
    background-color: #191919;
}

.top-nav-items {
    height: inherit;
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
}

.top-nav-icon {
    transition: color 300ms ease-in-out;
    font-size: 16px;
    margin-top: 3.25px;
}

.top-nav-icon:hover {
    color: white;
}

.top-nav-left {
    display: flex;
    gap: 14.33px;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
    margin-left: -0.5px;
}


.top-nav-right {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
}


.top-nav-right-flex {
    display: flex;
    align-items: center;
}

.top-nav-right-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 5.5px;
    font-weight: 600;
}

.signin {
    border-right: 0.7px solid #707070;
    padding: 1px 13.8px 1.5px 0;
}

.lang {
    border-left: 0.7px solid #707070;
    padding: 1px 0px 1.5px 13.5px;
    margin-right: -3px;
}

.material-icons.custom-font { font-size: 18px; }
.material-icons-outlined.custom-font { font-size: 18px; }

/* TOP NAVIGATION BAR */

/* HERO */

.hero {
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-position: -110px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100vw;
}

.hero-nav-container {
    height: 66px;
    width: inherit;
    width: 1170px;
    color: white;
    display: flex;
    align-items: center;
}

.hero-nav-center {
    margin-left: 111.35px;
    height: inherit;
    display: flex;
    padding-top: 1px;
    align-items: center;
    gap: 9.8px;
    /* delete this */
    /* background-color: black; */
}

.hero-nav-center-button {
    padding-top: 5px; 
    padding-left: 14px;
    justify-content: flex-end;
    gap: 5.5px;
    /* letter-spacing: 0.5px; */
    font-size: 15px;
    height: inherit;
    font-weight: 700;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 4px 0px transparent;
    transition: box-shadow 300ms ease-in-out; */
}

.hero-nav-center-button.home {
    box-shadow: 0px 3.5px 0px #ff4081;
}

.hero-icon-container {
    padding-left: 7px;
    display: flex;
    padding-top: 6.7px;
    justify-content: end;
    padding-right: 16px;
    width: 100%;
    align-items: center;
}

.custom-hero-icon {
    border-right: 0.5px solid white;
    padding: 2.35px 11.5px;
}

.custom-cart-icon {
    padding: 2.35px 0px 2.35px 11.5px;

}

.material-icons-outlined.hero-icon-font { font-size: 24px; }
.material-icons.hero-icon-font { font-size: 24; }



.pasco-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

/* HERO */
