/* 250 -89 */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span { 
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

button {
    color: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    margin: 0px;
    font-size: inherit;
    font-family: inherit;
}

h1, h3, pre {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.custom-body-width {
    width: 1170px;
}

/* TOP NAVIGATION BAR */

.top-nav {
    display: flex;
    justify-content: center;
    color: #707070;
    height: 40px;
    background-color: #191919;
}

.top-nav-items {
    height: inherit;
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
}

.top-nav-icon {
    transition: color 300ms ease-in-out;
    font-size: 16px;
    margin-top: 3.25px;
}

.top-nav-icon:hover {
    color: white;
}

.top-nav-left {
    display: flex;
    gap: 14.33px;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
}


.top-nav-right {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 15.879%;
}


.top-nav-right-flex {
    display: flex;
    align-items: center;
    padding: 1px 0px 1.5px 0;
}

.top-nav-right-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 5.5px;
    font-weight: 600;
}       

.signin {
    border-right: 2px solid #707070;
    padding-right: 13.8px;
}

.lang {
    width: 35.00%;
    overflow: hidden;
    justify-self: flex-end;
    margin-left: 13.8px;
}

.material-icons.custom-font { font-size: 18px; padding: 0px; letter-spacing: 0; }
.material-icons-outlined.custom-font { font-size: 18px; }

/* TOP NAVIGATION BAR */

/* HERO */

.hero {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.hero-nav-container {
    height: 66px;
    color: white;
    display: flex;
    align-items: center;
}

.hero-nav-center {
    margin-left: 105px;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 9.5px;
}

.hero-nav-center-button {
    /* font-stretch: ultra-expanded; */
    padding-top: 8px; 
    padding-left: 14px;
    border-bottom: 4px solid transparent;
    justify-content: flex-end;
    gap: 3.2px;
    letter-spacing: 0.4px;
    font-size: 14px;
    height: inherit;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: border 300ms ease-in-out;
}

.hero-nav-center-button:hover {
    border-bottom: 4px solid #ff4081;
}

.hero-nav-center-button.home {
    padding-left: 16px;
}

.hero-icon-container {
    padding: 6.7px 2px 0px 7px;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}


.material-icons.hero-expand-icon { font-size: 20px; padding-bottom: 1px; }

.custom-hero-icon {
    padding: 2.35px 12.5px;
}

.custom-hero-icon.heart {
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    padding: 2.35px 11px;
}


.material-icons-outlined.hero-icon-font { font-size: 24px; }
.material-icons.hero-icon-font { font-size: 24px; }

.pasco-text {
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding-bottom: 1px;
}

.hero-main {
    /* percent */
    width: 55.34%;
    padding-top: 216px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-main-inspiration {
    font-size: 20px;
    font-weight: 400;
    padding-left: 2px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.hero-main-millennial {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 0px 1px 16px;
    text-align: center;
}

.hero-main-button {
    background-color: #2f3f9f;
    height: 44px;
    /* percent */
    width: 20%;
    font-size: 18px;
    padding-top: 12px;
    margin-top: 28.5px;
    padding-right: 1px;
    word-spacing: 2px;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 99999px;
}

.hero-main-author {
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding-right: 3px;
    box-sizing: border-box;
    flex-direction: column;
}

.hero-author-img {
    border-radius: 50%;
    height: 52px;
    width: 57.453%;
    object-position: center;
    object-fit: cover;
}

.hero-author-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-author-name {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 16px;
    padding-left: 2px;
}

.hero-author-date {
    font-size: 12px;
    margin-top: 9px;
    color: #8d8c8d;
    letter-spacing: 0.6px;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5.3px;
    gap: 12px;
}

.hero-comments-likes {
    letter-spacing: 0.5px;
    margin-top: 16.5px;
    display: flex;
    margin-right: 6.5px;
    padding-left: 0.5px;
    font-size: 12px;
    gap: 27.5px;
}

.hero-comments-likes-flex {
    color: #bdbdbd;
    display: flex;
    gap: 5.8px;
    align-items: center;
}

.material-icons-outlined.likes {
    font-size: 17px;
}

.material-icons.comments {
    font-size: 17px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.blog-nav-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #202020;
    width: 100%;
    font-weight: 700;
    background-color: white;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    box-shadow: 0px 0px 2px #dddddd;
}

.blog-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-nav-label {
    color: #3f51b5;
    border-radius: 9999px;
    padding: 7.3px 26.5px 7.3px 26.5px;
    font-size: 11px;
    background-color: #f5f5f5;
    font-weight: 400;
    color: #202020;
    border: 1px solid transparent;
    letter-spacing: 0.55px;
    text-shadow: 0.3px 0.3px 0.45px black;
    transition: border background-color color text-shadow;
    transition-duration: 300ms;
    font-stretch: ultra-condensed;
}

.blog-nav-input {
    display: none;
}

.blog-nav-input:checked + label {
    padding: 7.3px 29.5px 7.3px 25.5px;
    background-color: white;
    border: 1px solid #3f51b5;
    text-shadow: 0.3px 0.3px 0.45px #3f51b5;
    color: #3f51b5;
}


.blog-sort {
    margin-right: 5px;
}

.blog-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.blog-article-container { 
    background-color: white;
    width: 70%;
    /* delete this */
    height: 2180px; 
}

.blog-aside {
    width: 26.58%;
    background-color: white;
}


/* HERO */
